<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  	<title>DrugDossier - Sign Up</title>

		
		<meta name="msapplication-TileColor" content="#fdcb04" />
		<meta name="theme-color" content="#fdcb04" />
		<link rel="manifest" href="https://mazipan.github.io/login-page-css/manifest.json">

    
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    <div class="login-screen flex">
      <div class="login-mangools">
        <div class="login-mangools__bg--small relative flex flex-col items-center">
          <!-- Shape -->

          <!-- End Shape -->

          <h2>Sign Up to DrugDossier</h2>
          <div class="login-mangools__card">
            <form action="/login" method="post" class="flex flex-col">
              <div for="" class="flex flex-col card__list">
                <span class="card__label">Your email</span>
                <label for="" class="relative">
                  <span class="absolute card__icon">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      aria-hidden="true"
                      focusable="false"
                      width="1em"
                      height="1em"
                      style="
                        -ms-transform: rotate(360deg);
                        -webkit-transform: rotate(360deg);
                        transform: rotate(360deg);
                      "
                      preserveAspectRatio="xMidYMid meet"
                      viewBox="0 0 36 36"
                    >
                      <path
                        d="M30.61 24.52a17.16 17.16 0 0 0-25.22 0a1.51 1.51 0 0 0-.39 1v6A1.5 1.5 0 0 0 6.5 33h23a1.5 1.5 0 0 0 1.5-1.5v-6a1.51 1.51 0 0 0-.39-.98z"
                        class="clr-i-solid clr-i-solid-path-1"
                        fill="#626262"
                      />
                      <circle cx="18" cy="10" r="7" class="clr-i-solid clr-i-solid-path-2" fill="#626262" />
                      <rect x="0" y="0" width="36" height="36" fill="rgba(0, 0, 0, 0)" />
                    </svg>
                  </span>
                  <input type="email" id="email" name="email" class="card__input" placeholder="Email" required>
                </label>
              </div>
              <div for="" class="flex flex-col card__list">
                <span class="card__label">Password</span>
                <label for="" class="relative">
                  <span class="absolute card__icon">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      aria-hidden="true"
                      focusable="false"
                      width="1em"
                      height="1em"
                      style="
                        -ms-transform: rotate(360deg);
                        -webkit-transform: rotate(360deg);
                        transform: rotate(360deg);
                      "
                      preserveAspectRatio="xMidYMid meet"
                      viewBox="0 0 24 24"
                    >
                      <path
                        d="M20 12c0-1.103-.897-2-2-2h-1V7c0-2.757-2.243-5-5-5S7 4.243 7 7v3H6c-1.103 0-2 .897-2 2v8c0 1.103.897 2 2 2h12c1.103 0 2-.897 2-2v-8zM9 7c0-1.654 1.346-3 3-3s3 1.346 3 3v3H9V7z"
                        fill="#626262"
                      />
                    </svg>
                  </span>
                  <input type="password" id="password" name="password" class="card__input" placeholder="Your password" required>
                </label>
              </div>
              <button class="card__sign-in" type="submit">Sign Up</button>
              <div class="flex justify-evenly">
                <a href="signin.html" class="card__url">Already have an account?</a>
              </div>
            </form>
          </div>
        </div>


        

        
  </body>
</html>